

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  height: 100vh;
}

.gallery__img {
  width: 100%;
  height: auto;
  background: url('https://images.unsplash.com/photo-1546173159-315724a31696?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="gallery__img" alt="Image 1');
  /* object-fit: cover; */
  background-size: cover;
}

.gallery__img2{
 
  width: 100%;
  height: auto;
  background: url('https://images.unsplash.com/photo-1554118879-e459bb1fe1ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=355&q=80');
  background-size: cover;
}

